---
import type { GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";
import { sortByDate } from "../../scripts/utils";

import Page from "../../components/Page.astro";
import Entry from "../../components/Entry.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const notes = sortByDate(await getCollection("notes"));
  return paginate(notes, {
    pageSize: 1,
  });
}

const { page } = Astro.props;
---

<Page page="Notes" , site="Simulating Nature">
  <section>
    <span>
      Updates on my research and practical projects, discussion of open
      problems, and other maths/physics/ml-related topics.
    </span>
    {
      page.data.length > 0 && (
        <ul>
          {page.data.map(({ id, data }) => (
            <Entry id={id} frontmatter={data} />
          ))}
        </ul>
      )
    }
    {
      page.lastPage > 1 && (
        <div class="pagination">
          <a
            href={page.url.prev as string}
            class={`${page.url.prev ? "" : "endpoint"}`}
            aria-label="Previous"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path d="m480-320 56-56-64-64h168v-80H472l64-64-56-56-160 160 160 160Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
            </svg>
          </a>
          <span>
            {page.currentPage} / {page.lastPage}
          </span>
          <a
            href={page.url.next as string}
            class={`${page.url.next ? "" : "endpoint"}`}
            aria-label="Next"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path d="m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
            </svg>
          </a>
        </div>
      )
    }
  </section>
</Page>

<style>
  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
  }

  .endpoint {
    pointer-events: none;
    user-select: none;
    opacity: 0.4;
  }
</style>
