---
import Page from '../components/Page.astro';
---

<Page
	page="404",
	site="Simulating Nature"
>
  <div class="not-found">
    <h1>404</h1>
    <h4>Page Not Found</h4>
    <a href="/">Go back home</a>
	</div>
</Page>

<style>
	.not-found {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: auto;
	}
</style>