@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
  --font: "Google Sans", ui-sans-serif, sans-serif;
  --font-mono: ui-monospace, monospace;

  /* text */
  --text-size-hero: 3rem;
  --text-size-head: 2.25rem;
  --text-size-title: 1.69rem;
  --text-size-subtitle: 1.27rem;
  --text-size-body: 1rem;
  --text-size-label: 0.75rem;
  --text-size-code: var(--text-size-body);

  --text-weight-title: 700;
  --text-weight-body: 400;

  --line-height-title: 1.4;
  --line-height-body: 1.6;

  /* layout */
  --base-size: 4.5rem;

  @media screen and (max-width: 1024px) {
    --text-size-hero: 2.625rem;
    --text-size-head: 1.97rem;
    --text-size-title: 1.48rem;
    --text-size-subtitle: 1.11rem;
    --text-size-body: 1rem;
    --text-size-label: 0.75rem;
  }

  @media screen and (max-width: 768px) {
    --text-size-hero: 2.25rem;
    --text-size-head: 1.69rem;
    --text-size-title: 1.27rem;
    --text-size-subtitle: 0.95rem;
    --text-size-label: 0.625rem;
    --text-size-body: 0.875rem;

    --base-size: 3.5rem;
  }

  /* theming */
  @media (prefers-color-scheme: light) {
    --color-background: #fff;
    --color-surface: #f2f2f2;
    --color-text: #000;
    --color-text-alt: #616161;
    --color-primary: #0067b8;
  }

  @media (prefers-color-scheme: dark) {
    --color-background: #1e2223;
    --color-surface: #272b2d;
    --color-text: #e7e6e3;
    --color-text-alt: #aaa398;
    --color-primary: #5dbaff;
  }
}

/* layout */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  font-family: var(--font);
  font-size: var(--text-size-body);
  font-weight: var(--text-weight-body);
  line-height: var(--line-height-body);
  color: var(--color-text);
  background-color: var(--color-background);
}

/* main frame */
.frame {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding-top: 64px;
}

section {
  width: 832px;
  max-width: calc(100% - 0.5 * var(--base-size));
  margin: calc(0.3 * var(--base-size)) auto;
}

p,
span {
  font-size: var(--text-size-body);
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--text-weight-title);
  line-height: var(--line-height-title);
}

h1 {
  font-size: var(--text-size-hero);
}
h2 {
  font-size: var(--text-size-head);
}
h3 {
  font-size: var(--text-size-title);
}

h4 {
  font-size: var(--text-size-subtitle);
}
h5 {
  font-size: calc(var(--text-size-subtitle) / 1.333);
}
h6 {
  font-size: calc(var(--text-size-subtitle) / 1.333 / 1.333);
}
label,
figcaption {
  font-size: var(--text-size-label);
}

/* text */
b,
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

a,
button,
input {
  padding-block: 1px;
  font-weight: 450;
  color: var(--color-primary);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--color-text);
  }

  &:focus {
    margin: -1px;
    border: 1px solid var(--color-primary);
    outline: 0;
  }

  &:hover:focus {
    border: 1px solid var(--color-text);
  }
}

hr {
  color: rgb(from var(--color-text-alt) r g b / 0.3);
}

p {
  margin-block: 1em;
}

code {
  font-size: var(--text-size-code);
  padding-inline: 2px;
  border-radius: 2px;
}

/* recurring components */
.logo {
  width: 40px;
  height: 40px;
  border-radius: calc(infinity * 1px);
  margin-right: 24px;
}
