*,
::after,
::before,
::backdrop {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  border: 0 solid;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul { 
  list-style: none;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object { 
  display: block; 
}

p,
h1,
h2,
h3,
h4,
h5,
code {
  font-weight: inherit;
  overflow-wrap: anywhere;
}

hr {
  height: 0;
  border-top-width: 1px;
  color: inherit;
}
