---
// CSS styles
import '../style/reset.scss';
import '../style/main.scss';

// Components
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  page: string;
  site?: string;
}

const { page, site } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{page} | {site}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous">
  </head>
  <body>
		<div class="frame">
			<Header page={page}/>
				<slot />
			<Footer />
		</div>
  </body>
</html>
