<a href="#_top">Skip to content</a>

<style>
	a {
    clip-path: rect(0 0 0 0);
		position: fixed;
		top: 0.75rem;
		inset-inline-start: 0.75rem;
	}
  
	a:focus {
		clip-path: unset;
		display: block;
		padding: 0.5rem 1rem;
		text-decoration: none;
	}
</style>